.App {
    font-family: sans-serif;
    text-align: center;
}

.NavBar {
    border-bottom: 1px groove rgb(221, 221, 221);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: gray;
}

a {
    display: flex;
    align-items: center;
}

.Fluff {
    padding-left: 5px;
}